<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%=  sessions_new_path  %>">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
        <a class="nav-link" href="#">Hi <%= @current_user.name.upcase %></a>
      </li>
      <li class="nav-item">
        
        <%= link_to "Log out", logout_path, method: 'delete', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= flash_messages %>

      </li>
      <% end %>
    </ul>
  </nav>  

<%= yield %>

</body>
</html>
